# Ignore downloaded models
models/

# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db
